/* Padrão----------------------------------------------------------*/
body{background: #d0d8f2;font-size: .90em;font-family: 'Helvetica Neue' , Helvetica;margin: 0px;padding: 0px;color: #696969;}
a:link, a:visited{color: #034af3;}
a:hover{color: #1d60ff;text-decoration: none;}
a:active{color: #034af3;}
p{margin-bottom: 10px;line-height: 1.6em;text-align: center;}

/* Hiper-Textos-----------------------------------------------------*/
h1, h2, h3, h4, h5, h6{font-size: 1.5em;color: #666666;font-variant: small-caps;text-transform: none;font-weight: 200;margin-bottom: 0px;text-align: center;}
h1{font-size: 1.6em;padding-bottom: 0px;margin-bottom: 0px;}
h2{font-size: 1.5em;font-weight: 600;}
h3{font-size: 1.2em;}
h4{font-size: 1.1em;}
h5, h6{font-size: 1em;}
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2{margin-top: 0px;}

/* Layout-----------------------------------------------------------*/
.Página{width: auto;background-color: #ffffff;margin: auto;border: 1px solid white;}
.Cabeçalho{position: relative;margin: 0px;padding: 0px;background: #FFFFFF;background-image: url('../Images/head_bg(1).jpg');width: 100%;}
.Cabeçalho h1{font-weight: 700;margin: 0px;padding: 0px 0px 0px 20px;color: #f9f9f9;border: none;line-height: 2em;font-size: 2em;}
.Conteúdo{padding: 0px 12px;margin: 12px 8px 8px 8px;height: auto}
.Rodapé{background: #c4cbe3;color: #4e5766;padding: 8px 0px 0px 0px; margin: 0px auto;text-align: center;line-height: normal;}

/* Tabela do Menu---------------------------------------------------*/
div.hideSkiplink{background-image: url('../Images/head_bg(2).jpg') ;background-color: #1A0D3F;width:100%;}
div.menu{padding: 4px 0px 4px 8px;}
div.menu ul{list-style: none;margin: 0px;padding: 0px;width: auto;}
div.menu ul li a, div.menu ul li a:visited{background-color: #465c71;border: 1px #4e667d solid;color: #dde4ec;display: block;line-height: 1.35em;padding: 4px 20px;text-decoration: none;white-space: nowrap;font-weight: bold;}
div.menu ul li a:hover{background-color: #bfcbd6;color: #465c71;text-decoration: none;}
div.menu ul li a:active
{background-color: #465c71;color: #cfdbe6;text-decoration: none;font-style: italic;}

/* Elementos do Formulário----------------------------------------------------------*/
fieldset{margin: 1em 0px;padding: 1em;border: 1px groove #CEEFFF;background-color: #F0F3F9;}
fieldset p{margin: 2px 10px 10px 10px;}
fieldset.login label, fieldset.register label, fieldset.changePassword label{display: block;}
fieldset label.inline{display: inline;}
legend{font-size: 1.1em;font-weight: 600;padding: 2px 4px 8px 4px;}
input.Texto{border: 1px solid #ccc;}
input.Senha{border: 1px solid #ccc;}
div.InfoConta{position: relative;text-align: center;width: 200px;left: 50%;margin-left:-107px;}

/* Outros---------------------------------------------------------*/
.clear{clear: both;}
.title{display: block;float: left;text-align: left;width: auto;}
.DisplayLabelEntrar{font-size: 1.1em;display: block;text-align: right;padding: 10px;color: White;}
.DisplayLabelEntrar a:link{color: white;}
.DisplayLabelEntrar a:visited{color: white;}
.DisplayLabelEntrar a:hover{color: white;}
.DisplayLabelEntrar a:active{color: white;font-style: italic;}
.NotificaçãoFalha{font-size: 1.2em;color: Red;text-align: center;}
.bold{font-weight: bold;}
.BotãoAvançar{text-align: right;padding-right: 10px;}